.form_header
  .form_header--title
    =link_to "CARE KITCHEN",root_path
  .form_header--icon
    =link_to new_user_registration_path do
      %i.fas.fa-door-open
      %p 新規登録

.form
  %h2.form__title ログインページ
  .error_logs
    = flash[:alert]
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email,placeholder: "メールアドレス", autofocus: true, autocomplete: "email",class:"field--form"
    .field
      = f.password_field :password,placeholder: "パスワード", autocomplete: "current-password",class:"field--form"
    
    .actions
      = f.submit "ログイン",class: "form--submit"
