= render "shared/header"
.form
  %h2.form__title ログインページ
  .error_logs
    = flash[:alert]
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email,placeholder: "メールアドレス", autofocus: true, autocomplete: "email",class:"field--form"
    .field
      = f.password_field :password,placeholder: "パスワード", autocomplete: "current-password",class:"field--form"
    
    .actions
      = f.submit "ログイン",class: "form--submit"

= render "shared/footer"