= render "shared/header"

.main
  = form_with model: Recipe.new,local: true do |f|
    .post_recipe
      .post_recipe__top
        .post_recipe__top__left
          .recipe_title
            = f.text_field :title ,placeholder: "料理名",class: "recipe_title--form"
          = f.label :image do
            .recipe_image
              =f.file_field :image,class: "recipe_image--form"
              .recipe_image--icon
                %i.fas.fa-image
                %p 料理の完成イメージ
              -# .recipe_image--preview#recipe_image
              -#   = image_tag 'images (2).jpeg'
          .recipe_text
            = f.text_area :text ,placeholder: "キャッチコピー(60文字まで)",rows: "3",maxlength: "100",class: "recipe_text--form"
        .post_recipe__top__right
          -# エネルギー
          .recipe_chart
            %p.nutrition_title エネルギー 600kcal
            .recipe_chart--area
              %canvas#recipeEnergyChart{:height => "130", :width => "130"}
              .count
                %em #{(600 * 100) / 900}%
          -# タンパク質
          .recipe_chart
            %p.nutrition_title タンパク質 20g
            .recipe_chart--area
              %canvas#recipeProteinChart{:height => "130", :width => "130"}
              .count
                %em #{(20 * 100) / 22}%
          -# 脂質
          .recipe_chart
            %p.nutrition_title 脂質 24mg
            .recipe_chart--area
              %canvas#recipeFatChart{:height => "130", :width => "130"}
              .count
                %em #{(24 * 100) / 23}%
          -# 炭水化物
          .recipe_chart
            %p.nutrition_title 炭水化物  120g
            .recipe_chart--area
              %canvas#recipeCarbonChart{:height => "130", :width => "130"}
              .count
                %em #{(120 * 100) / 135}%
          -# ビタミンA
          .recipe_chart
            %p.nutrition_title ビタミンA  200μg
            .recipe_chart--area
              %canvas#recipeVitaminAChart{:height => "130", :width => "130"}
              .count
                %em #{(200 * 100) / 300}%
          -# ビタミンB1
          .recipe_chart
            %p.nutrition_title ビタミンB1  0.3mg
            .recipe_chart--area
              %canvas#recipeVitaminB1Chart{:height => "130", :width => "130"}
              .count
                %em #{((0.3 * 100) / 0.4).round}%
          -# ビタミンC
          .recipe_chart
            %p.nutrition_title ビタミンC  30mg
            .recipe_chart--area
              %canvas#recipeVitaminCChart{:height => "130", :width => "130"}
              .count
                %em #{(30 * 100) / 33}%
          -# カルシウム
          .recipe_chart
            %p.nutrition_title カルシウム 220mg
            .recipe_chart--area
              %canvas#recipeCalciumChart{:height => "130", :width => "130"}
              .count
                %em #{(220 * 100) / 250}%
          -# 食物繊維
          .recipe_chart
            %p.nutrition_title 食物繊維  8g
            .recipe_chart--area
              %canvas#recipeDietaryFiberChart{:height => "130", :width => "130"}
              .count
                %em #{(8 * 100) / 8}%
          -# 食塩
          .recipe_chart
            %p.nutrition_title 食塩  2.2g
            .recipe_chart--area
              %canvas#recipeSaltChart{:height => "130", :width => "130"}
              .count
                %em #{((2.2 * 100) / 2.5).round}%
      .post_recipe__bottom
        .recipe_steps

          .recipe_step
            -# .recipe_step--delete
            -#   %i.fas.fa-trash-alt
            = f.fields_for :steps,@recipe.steps.new do |s|
              = s.label :image do
                .recipe_step--image
                  = s.file_field :image,class: "image_label"
                  -# .recipe_step--image--icon
                  -#   %i.fas.fa-image
                  -#   %p 作り方イメージ(任意)
                  .recipe_step--image--preview
                    =image_tag 'images (2).jpeg'
              .recipe_step__description
                = s.text_area :description,class: "recipe_step__description--form",placeholder: "作り方"
          
          .recipe_step
            .recipe_step--delete
              %i.fas.fa-trash-alt
            = f.fields_for :steps,@recipe.steps.new do |s|
              = s.label :image do
                .recipe_step--image
                  = s.file_field :image,class: "image_label"
                  .recipe_step--image--icon
                    %i.fas.fa-image
                    %p 作り方イメージ(任意)
                  -# =image_tag ''
              .recipe_step__description
                = s.text_area :description,class: "recipe_step__description--form",placeholder: "作り方"

          .add_recipe
            .add_recipe--icon
              %i.fas.fa-plus
              %p 次の工程(最大6個)

        .recipe_ingredients
          = f.fields_for :recipe_ingredients,@recipe.recipe_ingredients.new do |i|
            .recipe_ingredients--form
              = form_with url: search_ingredients_recipes_path ,local: true do |t|
                -# .recipe_ingredients--form--name
                = t.text_field :name,class: "recipe_ingredients--form--name",placeholder: "食材名"
                -# .recipe_ingredients--form--quantity
                = t.number_field :quantity,class: "recipe_ingredients--form--quantity",placeholder: "分量(g)"
                -# .recipe_ingredients--form--submit
                %button{class: "recipe_ingredients--form--submit"}
                  %p 追加
            .recipe_ingredients--area
              .recipe_ingreient



= render "shared/footer"