= render "shared/header"

.form
  %h1.form__title 一人目のユーザー登録
  = form_for(@person, url: create_first_person_path) do |f|
    -# = render "devise/shared/error_messages", resource: resource
    = flash[:alert]
    .field
      = f.text_field :name,placeholder: "ユーザー名", autofocus: true,class:"field--form"

    .field.birthday
      = f.date_field :birthday,placeholder: "生年月日", autofocus: true,class:"birthday__form"
      %p.birthday__title 生年月日

    .field
      = f.select :gender,[["性別を選択してください",""],["男性"],["女性"]],class: "select_form"
    .field
      = f.select :image, [["アイコンを選択してください",""],["ニンジン","icon17.png"],["イチゴ","icon22.png"],["ナス","icon19.png"],["トマト","icon20.png"],["レモン","icon13.png"],["玉ねぎ","icon4.png"],["とうもろこし","icon16.png"],["オレンジ","icon10.png"],["バナナ","icon6.png"],["さくらんぼ","icon3.png"],["かぼちゃ","icon9.png"],["りんご","icon24.png"],["パイナップル","icon25.png"],["梨","icon11.png"],["えんどう豆","icon5.png"],["ブロッコリー","icon7.png"],["マッシュルーム","icon8.png"],["スイカ","icon12.png"],["桃","icon14.png"],["カブ","icon15.png"],["キャベツ","icon18.png"],["ぶどう","icon21.png"],["キウイ","icon23.png"],["アボガド","icon1.png"],["とうがらし","icon2.png"]], class: "select_form"

    = f.fields_for :personal_informations,@person.personal_informations.build do |i|
      .field
        = i.number_field :height,placeholder: "身長(m) 例:1.65",class:"field--form",step: "0.01"
      .field
        = i.number_field :weight,placeholder: "体重(kg) 例:55.5",class:"field--form",step: "0.1"
        = i.hidden_field :date,value: Date.today
        
        
    .actions
      = f.submit "入力完了",class: "form--submit"
= render "shared/footer"